<%- include("header") -%>

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <h1 class="navbar-brand">Covid-19</h1>
    <form action="" method="POST" class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search country name"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>

  <div class="alert alert-warning alert-dismissible fade show">
    <i class="fa fa-warning"></i>
    <strong> Warning! If there is any emergency call 911</strong>. Let them
    know your symptoms.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>

  <h1 class="card-title" style="text-align: center;">Canada</h1>

  <div class="card">
    <div class="card-body">
      <p style="text-align: center; line-height: 0;">2020-20-07</p>
      <br />
      <div class="row">
        <div class="col-lg-4 col-md-6 total">
          <h3>Total deaths</h3>
          <p>23232</p>
          <h3>new deaths</h3>
          <p>23232</p>
        </div>

        <div class="col-lg-4 col-md-6 cases-box">
          <h3>Total cases</h3>
          <p>23232</p>
          <h3>new cases</h3>
          <p>23232</p>
        </div>

        <div class="col-lg-4">
          <h3>Total tests</h3>
          <p>23232</p>
          <h3>new tests</h3>
          <p>23232</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p style="text-align: center; line-height: 0;">2020-19-07</p>
      <br />
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h3>Total deaths</h3>
          <p>23232</p>
          <h3>new deaths</h3>
          <p>23232</p>
        </div>

        <div class="col-lg-4 col-md-6 cases-box">
          <h3>Total cases</h3>
          <p>23232</p>
          <h3>new cases</h3>
          <p>23232</p>
        </div>

        <div class="col-lg-4">
          <h3>Total tests</h3>
          <p>23232</p>
          <h3>new tests</h3>
          <p>23232</p>
        </div>
      </div>
    </div>
  </div>

<%- include("footer") -%>